<% unless @friends_of_current_user.empty? %>
    <div class="container users-index">
      <h3>Your friend list</h3>
      <% @friends_of_current_user.in_groups_of(3) do |friend| %>
          <div class="row">
            <%= render partial: 'friend', collection: friend.compact %>
          </div>
      <% end %>
    </div>
<% end %>

<% unless @users_not_in_friend_list.empty? %>
<div class="container users-index">
  <h3>Available users</h3>
  <% @users_not_in_friend_list.in_groups_of(3) do |group| %>
      <div class="row">
        <%= render partial: 'user', collection: group.compact %>
      </div>
  <% end %>
</div>
<% end %>
