<section class="header-11-sub">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>The Coder Chat</h3>
                <p>CoderChat is similar to SnapChat</p>
                <div class="signup-form">
                    <%= render 'shared/form' %>
                </div>  
                <div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy</a></div>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                <div class="player">
                        <%= image_tag 'chat-room' %>
                </div>
            </div>
        </div>
    </div>
</section>

